[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fuzzyjoin"]
	path = fuzzyjoin
	url = https://github.com/dgrtwo/fuzzyjoin
[submodule "unvotes"]
	path = unvotes
	url = https://github.com/dgrtwo/unvotes
